
{% extends 'layout.html' %}

{% block title %}
    Home
{% endblock title %}

{% block body %}
{% for league in leagues %}
    <style>
        .tab_league {
            display: inline;
            margin-left: 500px;
        }
    </style>

    <h2>
        &emsp;{{ league.name }} 
        <span class="tab_league"></span>
        <a href="{{ url_for('update_league', id=league.id) }}">Update League Name</a>
        &ensp;

        <a href="{{ url_for('delete_league', id=league.id) }}", style="color:red">Delete League</a>
    </h2>

    {% for team in teams %}
    {% if team.league_id == league.id %}
        <style>
            .tab {
                display: inline;
                margin-left: 35px;
            }

            .tab1 {
                display: inline;
                margin-left: 70px;
            }
        </style>
    
        <div class = "team", style="background-color:#e4fdff">
            <hr>
            <h3>
                &emsp;&emsp;
                {{ team.description }}   
                <span class="tab1"></span>

                <a href="{{ url_for('update_team', id=team.id) }}">Update Team Name</a>
            
                &ensp;

                <a href="{{ url_for('delete_team', id=team.id) }}", style="color:red">Delete Team</a>

                <!-- <hr style="width:48%;text-align:left;margin-left:0"> -->
                <hr>
            </h3>

            {% for player in players %}
            {% if player.team_id == team.id %}
                <span class="tab"></span>
                &emsp;
                {{ player.position }} - {{ player.name }} - {{ "✔️" if player.active else "❌" }}
                <br>
                <span class="tab"></span>
                &emsp;
                <a href="{{ url_for('update_player', id=player.id) }}">Update Player</a>
                &ensp;
                <a href="{{ url_for('delete_player', id=player.id) }}", style="color:red">Delete Player</a>
                &ensp;
            
                {% if player.active %}

                <a href="{{ url_for('inactive', id=player.id) }}">Mark as Inactive</a>
                {% else %}

                <a href="{{ url_for('active', id=player.id) }}">Mark as Active</a>
                {% endif %}
                <br>
                <br>
            {% endif %}
            {% endfor %}
            <hr>
        </div>
        {% endif %}
    {% endfor %}
{% endfor %}

{% endblock body %}